<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.awesomefat.jsonbuilder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BuildJSONObjectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateNameValueActivity" />
        <activity android:name=".GenerateJSONActivity" />
        <activity android:name=".AddInteger" />
        <activity android:name=".AddObject" />
        <activity android:name=".addarray"></activity>
    </application>

</manifest>
